// Brand colors

$brand-color-main: #00a087;
$brand-color-light: #e8fdff;
$grid-spacer: 8px;

// Mixins
@mixin grey-gradient {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  width: 400px;
  margin: (10 * $grid-spacer) auto 0px auto;
  background:#fff;
  padding:(2 * $grid-spacer);

}

#nav-bar {
  display: block;
  background: $brand-color-main;
  height:80px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: $grid-spacer, (2 * $grid-spacer), $grid-spacer, (2 * $grid-spacer);
  z-index:2;
}

#nav-bar .logo {
  height:80px;
  width:80px;
  margin-left:(2.5 * $grid-spacer);
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  font-size: 2em;
  line-height: 2.5em;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
  color: $brand-color-light;
  &:hover {
    color: lighten($brand-color-light, 20%);
  }
}

#compose-button {
  border: 1px solid #fff;
  padding: $grid-spacer (2 * $grid-spacer) $grid-spacer (2 * $grid-spacer);
  background: rgba(255,255,255,0.5);
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block;
  margin-top:(2.5 * $grid-spacer);
  margin-right:(2.5 * $grid-spacer);
  float: right;
}

#compose-button:hover {
  background:rgba(255,255,255, 0.9);
  color:#666;
}
.new-tweet {
  @include grey-gradient;
  border-bottom:1px solid #ddd;
  padding: 8px;
  margin-bottom:2em;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.new-tweet h2 {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
.warnings {
  font-weight: 300;
  color: #e66363;
  margin-bottom: 5px;
  display: block;
}

.new-tweet textarea {
  padding:5px;
  margin-bottom:16px;
  display:block;
  width:100%;
  color: #666;
  font-weight: 300;
}

.new-tweet input[type="submit"] {
  border-radius: 0px;
  color: #e8fdff;
  background: $brand-color-main;
  border: 0px;
  padding: 10px 15px 10px 15px;
}

.new-tweet .counter {
  float: right;
  margin-top:10px;
  color:#000;
  font-weight: 300;

  &.invalid {
    color:#e66363;
  }
}

article.tweet {
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow: hidden;
  transform: scale(1.0);
  animation-duration: 2s;

  &:hover {
    border: 1px solid #cacaca;
    -webkit-box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.13);
    -moz-box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.13);
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.13);
    transform: scale(1.03);
    animation-duration: 2s;
  }
}

article .tweet-header {
  @include grey-gradient;
  border-bottom:1px solid #ddd;
  padding: 8px;
  display:flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

article .tweet-header:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

article .tweet-author-thumb-container {
  display:flex;
  flex:1;
}
article .tweet-author-thumb-frame {
  height:75px;
  width:75px;
  background:#ccc;
  border-radius: 5px;
  border:1px solid #ddd;
  margin-right:16px;
  overflow:hidden;
}

article .tweet-author-thumb-frame:hover {
  filter:grayscale(100);
  animation-duration: 1s;
}

article .tweet-author-thumb {
  width:100%;
  height:100%;
}

article .tweet-author-name {
  display:flex;
  flex:2;
  font-weight: 700;
  margin:0px;
  font-size: 1.25em;

  &:hover {
    color:#00a087;
  }
}

article .tweet-author-username {
  display:flex;
  flex:1;
  color:#a9a9a9;
  font-size:0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  justify-content: flex-end;

  &:hover {
    color:#00a087;
  }
}

article .tweet-content {
  clear:both;
  padding:12px;
  color:#666;
}

article .tweet-footer {
  border-top:1px solid #ddd;
  padding:8px;
}

article .tweet-date {
  font-size:0.75em;
  font-weight: 300;
  color:#b9b9b9;
}