#nav-bar {
    display: block;
    background: #00a087;
    height:80px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #e8fdff;
    padding: 0px 2em 0px 2em;
    z-index:2;
}

#nav-bar .logo {
    height:80px;
    width:80px;
    float:left;
}

#nav-bar .header {
    margin-left: 10px;
    font-size: 2em;
    line-height: 2.5em;
}

#compose-button {
    border: 1px solid #fff;
    padding: 10px 15px 10px 15px;
    background: rgba(255,255,255,0.5);
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    display: inline-block;
    margin-top:18px;
    float:right;
}

#compose-button:hover {
    background:rgba(255,255,255, 0.9);
    color:#666;
}