#nav-bar {
    display: block;
    background: #00a087;
    height:80px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #e8fdff;
    padding: 0px 2em 0px 2em;
    z-index:2;
}

#nav-bar .logo {
    height:80px;
    width:80px;
    float:left;
}

#nav-bar .header {
    margin-left: 10px;
    font-size: 2em;
    line-height: 2.5em;
}